html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    letter-spacing: 1.3px;
    font-family: 'Inter', sans-serif;
    color: #000;
}

header {
    color: #0000EE;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0,0,0, .075);
    box-shadow: rgb(0 0 0 / 8%) 0 1px;
    text-align: center;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    letter-spacing: -1.3px;
    margin: 0;
}

.generator_color {
    cursor: pointer;
}

.generator_color_bg {
    border-bottom: 1px solid black;
    width: 100%;
    height: 20%;
    min-height: 110px;
}

.generator_color_content, #generator-subheader {
    display: none;
}
.generator_color_content_mobile{
    margin: 0;
    padding: 20px
}

.sub-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 0 14px;
    margin-top: 11px;
}

.btn {
    color: #000;
    background: #fff;
    box-shadow: inset #d8d8da 0 0 0 1px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    padding: 5px 12px;
}

.btn:active {
    transform: scale(.95);
}

.input-btn {
    cursor: pointer;
    background: #e5e5e5;
    padding: 2px;
    border: 0.5px solid #d1d5db;
    width: 10%
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

select > option {
    background: #fff;
    color: #000;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.green {
    background: green;
}

.yellow {
    background: yellow;
}

.purple {
    background: purple;
}


@media (min-width: 770px) {

    #generator_colors {
        display: flex;
    }

    .generator_color {
        width: 100%;
        height: 85vh;
        /* height: 100% */
    }

    .generator_color_bg {
        height: calc(100% - 57px)
    }

    .generator_color_content {
        display: block;
        text-align: center;
    }
    .generator_color_content_mobile{
        display: none;
    }

    #generator-subheader {
        display: flex;
        margin: 1.2em 0
    }

    #generator_mobile-subheader {
        display: none;
    }

    .btn {
        padding: 1em 2em
    }
}